<app-header-pages [configHeader]="configHeader"></app-header-pages>


<app-spinner *ngIf="isLoading"></app-spinner>

<section *ngIf="!isLoading">
  <form (ngSubmit)="onSubmit()" [formGroup]="userForm">
    <div class="form-group">
      <label for="profileId">Perfiles</label>
      <select class="form-control" id="profileId" formControlName="profileId">
        <option value="" disabled>--Seleccionar--</option>
        <option *ngFor="let profile of profileItem" [value]="profile.id">{{
          profile.description
        }}</option>
      </select>

      <small id="emailHelp" class="text-danger">{{
        getErrors("profileId")
      }}</small>
    </div>

    <div class="form-group">
      <label for="userTypeId">Typo usuario</label>
      <select class="form-control" id="userTypeId" formControlName="userTypeId">
        <option value="" disabled>--Seleccionar--</option>
        <option *ngFor="let userType of userTypeItem" [value]="userType.id">{{
          userType.description
        }}</option>
      </select>
      <small *ngIf="validateUserName" id="emailHelp" class="text-danger">{{
        getErrors("userTypeId")
      }}</small>
    </div>

    <div class="form-group">
      <label for="firstName">Nombres</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        formControlName="firstName"
      />
      <small *ngIf="validateUserName" id="emailHelp" class="text-danger">{{
        getErrors("firstName")
      }}</small>
    </div>

    <div class="form-group">
      <label for="lastName">Apellidos</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        formControlName="lastName"
        maxlength="30"
      />
      <small *ngIf="validateUserName" id="emailHelp" class="text-danger">{{
        getErrors("lastName")
      }}</small>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Email"
        formControlName="email"
      />
      <small *ngIf="validateUserName" id="emailHelp" class="text-danger">{{
        getErrors("email")
      }}</small>
    </div>

    <div class="form-group">
      <label for="userName">Usuario</label>
      <input
        type="text"
        class="form-control"
        id="userName"
        formControlName="userName"
      />
      <small *ngIf="validateUserName" id="emailHelp" class="text-danger">{{
        getErrors("userName")
      }}</small>
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        formControlName="password"
      />
      <small *ngIf="validateUserName" id="emailHelp" class="text-danger">{{
        getErrors("password")
      }}</small>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</section>
