<app-header-pages [configHeader]="configHeader"></app-header-pages>

<section>
  <form (ngSubmit)="saveUser()" [formGroup]="userForm">
    <div class="form-group">
      <label for="profile">Perfil</label>
      <input
        type="text"
        class="form-control"
        id="profile"        
      />
      <!-- <small  id="emailHelp" class="text-danger"
        >{{ getErrors('profile') }}</small
      > -->
    </div>

    <div class="form-group">
      <label for="userType">Tipo de usuario</label>
      <input
        type="text"
        class="form-control"
        id="userType"
        formControlName="userType"
      />
      <small *ngIf="validateUserName" id="emailHelp" class="text-danger"
        >{{ getErrors('userType') }}</small
      >
    </div>

    <div class="form-group">
      <label for="firstName">Nombres</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        formControlName="firstName"
      />
      <small *ngIf="validateUserName" id="emailHelp" class="text-danger"
        >{{ getErrors('firstName') }}</small
      >
    </div>

    <div class="form-group">
      <label for="lastName">Apellidos</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        formControlName="lastName"
        maxlength="30"
      />
      <small *ngIf="validateUserName" id="emailHelp" class="text-danger"
        >{{ getErrors('lastName') }}</small
      >
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Email"
        formControlName="email"
      />
      <small *ngIf="validateUserName" id="emailHelp" class="text-danger"
        >{{ getErrors('email') }}</small
      >
    </div>

    <div class="form-group">
      <label for="userName">Usuario</label>
      <input
        type="text"
        class="form-control"
        id="userName"
        formControlName="userName"
      />
      <small *ngIf="validateUserName" id="emailHelp" class="text-danger"
        >{{ getErrors('userName') }}</small
      >
    </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        formControlName="password"
      />
      <small *ngIf="validateUserName" id="emailHelp" class="text-danger"
        >{{ getErrors('password') }}</small
      >
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</section>
